{% extends 'myapp/layout.html' %}

{% block title %}
    <title>"Эта страница с data"</title>
{% endblock %}

{% block content %}
  {% include 'myapp/nav.html' %}
<h1>Первая страница с data</h1>
<p>
    Семья — это место, где начинается жизнь и никогда не кончается любовь. Это те, кто поддерживает нас в трудные времена и радуется вместе с нами в моменты счастья. Семейный дом — это не просто стены и крыша, это обитель тепла, уюта и понимания. Здесь мы создаём воспоминания, которыми будем дорожить всю жизнь.
</p>
{% endblock %}