<!-- footer.html -->
<div class="hover-bar"></div>

<footer class="bg-light py-3 footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://vk.com" target="_blank">ВКонтакте</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://t.me" target="_blank">Телеграм</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://facebook.com" target="_blank">Фейсбук</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

