{% extends 'myapp/layout.html' %}

{% block title %}
    <title>"Это тестовая страница"</title>
{% endblock %}

{% block content %}
  {% include 'myapp/nav.html' %}
<h1>Страница для тестов</h1>
<p>
    Наш сайт предлагает вам не просто информацию, а поддержку и полезные советы в этот важный период. Мы расскажем, как выбрать тест на беременность, который предоставит точные результаты и поможет вам уверенно шагнуть в новую главу вашей жизни. Наши рекомендации помогут вам сделать осознанный выбор и облегчат первые шаги в этом удивительном путешествии к родительству.

Добро пожаловать в мир, где семья — это главное, дом — это крепость, а новые начинания — это радость!
</p>
{% endblock %}