        aside {
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 5px;
        }

        aside img {
            display: block;
            margin: 0 auto 10px;
        }

        aside span {
            display: block;
            text-align: center;
            font-weight: bold;
            margin-bottom: 15px;
        }

        aside ul {
            list-style-type: none;
            padding: 0;
        }

        aside ul li {
            margin-bottom: 10px;
        }

        aside ul li a {
            text-decoration: none;
            color: #007bff;
        }

        aside ul li a:hover {
            text-decoration: underline;
        }

        main {
            padding: 20px;
        }

.hover-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px; /* Высота полоски */
    background-color: transparent; /* Прозрачная полоска */
    cursor: pointer;
}

.footer {
    position: fixed;
    bottom: -100%; /* Скрыть футер за пределами экрана */
    left: 0;
    width: 100%;
    transition: bottom 0.5s;
    opacity: 0.25; /* Полупрозрачный футер */
}

.footer.visible {
    bottom: 0;
    opacity: 1; /* Полностью видимый футер */
}